
<div class="basicInfo">
	<div class="d-flex ">
		<span class="versionSaved">Version saved on <span class="saveDate saveDatebold">
			<span *ngIf=
			"basicInfoData.showData.versionDate!=null && basicInfoData.showData.versionDate!=''">{{basicInfoData.showData.versionDate}}</span>&nbsp; </span> <span *ngIf="!isRedacted">by </span> <span class="saveDate" [ngClass]="(isRedacted)?'redacted-background':'saveDatebold saveDateboldcapital'">{{(!isRedacted)?basicInfoData.showData.versionSavedUser:'REDACTED'}}.		</span>
			<span *ngIf="basicInfoData.isHistory" class="currentView" (click)="redirectToCurrenntIncident()">View current</span>
		</span>
	</div>
	<div class="d-flex createdDetailsView">
		<div class="d-flex createBy">
			<label class="">Created by:</label>
			<div class="createdDetails createdText" [ngClass]="(isRedacted)?'redacted-background':''">{{(!isRedacted)?basicInfoData.showData.createdBy:'REDACTED'}}</div>
		</div>
		<div class="d-flex createBy status">
			<label class="label1">Status:</label>
			<div class="createdDetails">{{basicInfoData.showData.status}}</div>
		</div>
	</div>
	<div class="d-flex createdDetailsView">
		<div class="d-flex createBy">
			<label>Date:</label>
			<div class="createdDetails">{{basicInfoData.showData.date | date:'dd-MM-yyyy'}}</div>
		</div>
		<div class="d-flex createBy status">
			<label class="label1">Injured:</label>
			<div class="createdDetails">{{basicInfoData.showData.injured}}</div>
		</div>
	</div>
	<div class="d-flex createdDetailsView" *ngIf="basicInfoData.access!='All'">
		<div class="d-flex createBy">
			<label>Store:</label>
			<div class="createdDetails createdText">{{basicInfoData.showData.store}}</div>
		</div>
		<div class="d-flex createBy">
			<label class="label1">Region:</label>
			<div class="createdDetails createdText">{{basicInfoData.showData.regionName}}</div>
		</div>
	</div>
	<div class="d-flex createdDetailsView" >
		
	</div>
</div>