.mat-mdc-dialog-container {
    --mdc-dialog-container-color: #FFF !important;
    --mdc-dialog-with-divider-divider-color: rgba(255, 255, 255, 0.12);
    --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
    --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
}