<div class="shimmerTable">
  <table>
    <tr>
      <th>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </th>
    </tr>
    <tr *ngIf="type !== 2">
      <th>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th>
        <shimmer [width]="'40%'" height="9px" borderRadius="25px"></shimmer>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngIf="type !== 2">
      <td>
        <shimmer [width]="'80%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'60%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'60%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'120%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr *ngIf="type !== 2">
      <td>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'60%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'50%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'125%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr *ngIf="type !== 2">
      <td>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'50%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'80%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'50%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr *ngIf="type !== 2">
      <td>
        <shimmer [width]="'60%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'55%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'50%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'75%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr *ngIf="type !== 2">
      <td>
        <shimmer [width]="'50%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'85%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'80%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'80%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr *ngIf="type !== 2">
      <td>
        <shimmer [width]="'80%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'75%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'85%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr class="opac6" *ngIf="type !== 2">
      <td>
        <shimmer [width]="'60%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'75%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'65%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'130%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr class="opac4" *ngIf="type !== 2">
      <td>
        <shimmer [width]="'70%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'65%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'50%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'60%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'85%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
    <tr class="opac2" *ngIf="type !== 2">
      <td>
        <shimmer [width]="'50%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'90%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'85%'" height="9px" borderRadius="25px"></shimmer>
      </td>
      <td>
        <shimmer [width]="'75%'" height="9px" borderRadius="25px"></shimmer>
      </td>
    </tr>
  </table>
</div>