/*.paddTop{
     padding-top:25px;
}
 .mat-mdc-menu-panel.mat-mdc-menu-panel {
     width:200px !important;
     max-width:unset !important;
}
 .listview{
     width:100%;
     over-flow:auto;
     max-height:600px;
}
*/
.container-fluid {
  background: #f2f2f2;
  font-family: "Inter";
}
.paddTop {
  padding-top: 15px;
}
.mat-mdc-menu-panel.mat-mdc-menu-panel {
  width: 200px !important;
  max-width: unset !important;
}
.listview {
  width: 100%;
  max-height: calc(100vh - 90px);
  height: calc(100vh - 115px);
  margin: 5px 0px 0px;
  background-color: #fff;
}
.listviewReport{
  max-height: calc(100vh - 167px);
  height: calc(100vh - 167px);
}
.incidentnewCourseBtn {
  white-space: nowrap;
  padding: 8px 10px 10px;
  gap: 10px;
  width: 143px;
  height: 40px;
  background: #1f96f4;
  border: 1px solid #dbd4d4;
  border-radius: 6px;
  color: white;
  font-size: 14.5px;
  font-weight: 550;
  text-shadow: none;
  border: none;
}
.minitriangle{
    margin-top: 3px !important;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-bottom: 0;
    border-left: 0.35em solid transparent;
  
}

.incidentListDiv {
  gap: 10px;
  flex-wrap: wrap;
}
input[type="text"],
input[type="date"],
select,
textarea {
  background: #ffffff;
  /* Gray 600 */
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}
.nowrap {
  white-space: nowrap;
}
input,
select {
  height: 35px !important;
  font-size: 14px;
}
.findInput {
  width: 150px;
}
.findInput-width{
  width: 182px;
  padding-left: 10px;
  padding-bottom: 8px;
}
.fromToDate {
  width: 130px;
  cursor: pointer;
}


.incidentListForm {
  margin-top: -15px;
}
@media screen and (max-width: 632px) {
  .incidentListForm {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 472px) {
  .no-flex {
    display: block !important;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
@media screen and (max-width: 400px) {
  .listview {
    overflow: unset;
  }
}
.clear-filter-text {
  white-space: nowrap;
  margin-top: 8px;
  // margin-left: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f96f4;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
  cursor: pointer;
}
.disableClear{
  opacity: 0.4;
  pointer-events: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("/assets/healthsafetyimages/field-icon.svg") no-repeat;
  width: 16px;
  height: 16px;
  border-width: thin;
  left: 10px;
  position: relative;
  top: 2px;
}
.statusSelect {
  /*color: #bdbdbd;*/
  width: 185px;
  cursor: pointer;

  .optionColor{
    color: #000;
  }
}
// .statusSelect_width{
//   width: 185px;
// }
.searchSelect{
   /*color: #bdbdbd;*/
   width: 145px;
   cursor: pointer;
 
   .optionColor{
     color: #000;
   }
}
.graycolottext{
  color: #bdbdbd;
}
.statusLbl {
  height: 26px;
}
.mat-icon {
  color: #000000 !important;
}
.mat-tree {
  background: #ffffff !important;
}
.marginminus {
  // position: relative;
  // top: 14px;
  margin-bottom: -7px !important;
}
.mat-mdc-icon-button.mat-mdc-button-base {
  width: 30px;
  height: 30px;
  padding: 7px;
  padding-top: 3px;
}

/* date input place holder remove*/
/*
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}*/

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: #fff;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

.incidentListContainer {
  background: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.multselectbox {
  display: flex;
  justify-content: center;
  position: relative;
    bottom: 2px;
}

.list-filter-title {
  color: #373737;
  font-weight: 500;
  margin-bottom: 3px !important;
}

.multselecticon {
  background-color: white !important;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A) !important;
  background-position: right 12px center !important;
  background-repeat: no-repeat !important;
  background-size: auto 37% !important;
  // padding: 8px 22px 8px 10px !important;
  //border-radius:2px;
  // border:none;
  //color: #ffffff;
  // disable default appearance
  // outline: none;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  &::-ms-expand {
    display: none;
  }
}
.node2 .mat-icon {
  color: #1f96f4 !important;
  font-weight: 600;
}
.node2 label {
  color: #1f96f4 !important;
  font-size: 14px;
  font-weight: 600;
}
.mat-tree-node:hover {
  background: #1f96f4;
}
.mat-tree-node:hover label,
.mat-tree-node:hover .mat-icon {
  color: #fff !important;
}
.incidentListView {
  padding: 20px;
}
.incidentListTblView tbody {
    display: grid;
    overflow: auto;
    max-height: calc(100vh - 202px);
}
.dataiconrel{
 position: relative;

 .data-icon{
      position: absolute;
      right: 10px;
      top: 30px
    }

}
.findCaseIcon{
  display: flex;
  align-items: center;
  padding-top: 2px;
.mat-icon{
  height:14px !important;
  width: 14px !important;
  font-size:13px;
  font-weight: unset !important;
}
}


.alldata{
  min-height: 35px !important;
  max-height: 30px;
  overflow: hidden;
  background-color: #fff;
  padding-left: 13px;
  display: flex;
  align-items: center;
  // width: 180px;
}

input#filtertext::placeholder {
  color: #0d0d0d !important;
}
select {
  background-color: white !important;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A) !important;
  background-position: right 12px center !important;
  background-repeat: no-repeat !important;
  background-size: auto 38% !important;
  padding: 5px 22px 7px 10px !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  text-overflow: ellipsis;
  -webkit-appearance: none !important;
  appearance: none !important;
}


.statusTbl {
  width: fit-content;
  margin: 0px;
  font-size: 16px;
  .camelCase {
    text-transform: capitalize;
  }
  tr {
    height: 32px;
  }
  th {
    font-weight: 550;
  }
  td {
    border-bottom: 1px solid #c1bdbda0 !important;
  }
  tr:last-child td {
    border-bottom: 1px solid #f2f2f2 !important;
  }
  thead {
    border-bottom: 1px solid #c1bdbda0 !important;
  }

  .greenStatus {
    color: #00a124 !important;
  }

  .yellowStatus {
    color: #e8a703 !important;
  }

  .redStatus {
    color: #e20512 !important;
  }

  td:nth-child(1) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  td,
  th {
    padding:0px 20px;
    background-color: #f2f2f2;
  }
  td:nth-child(1), th:nth-child(1){
    padding-right: 0px;
  }
  tbody tr:last-child td {
    color: #000000;
  }
  .statusText {
    cursor: pointer;
    color: #1f96f4;
    font-size: 14px;
  }
}

.tableSummary {
  margin-top: 9px;
  color: #1f96f4;
  font-weight: 550;
  padding-left: 15px;
  cursor: pointer;
  white-space: nowrap;
}
.no-record-found-bg {
  background-color: #f2f2f2;
  .no-record-found-status {
    background: #d8d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 41px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 0px 20px;
  }
}
.statusCamel{
  text-transform: capitalize;
}
textarea{
  resize: none;
}
.textpadnew{
  padding-top: 4px;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.small-mt{
  margin-top: 1px;
}
.invalid{
  border: 1px solid red !important;
}
.saveDraft {
  line-height: 15px !important;
  width: 85px !important;
  font-size: 13px !important;
  height: 31px !important;
  background: #1f96f4 !important;
  border-radius: 6px !important;
  color: #fff !important;
  margin-right: 15px !important;
  border-color: #1f96f4 !important;
}

.addBtn {
  background: #0d0d0d !important; 
  border-color: #0d0d0d !important;
}
.cbText{
  padding-top: 2px;
  padding-left: 7px;
  margin-right: 20px;
}

.scheduleReportButton{
width: 36px;
height: 36px;
background: #ffffff;
border: 1px solid #818181;
border-radius: 6px;
font-size: 13px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
margin-right: 15px;
}

.bottomfooter {
  position: absolute;
  background: #e6e6e6;
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  
  
.newCourseBtn {
  white-space: nowrap;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  height: 36px;
  background: #ffffff;
  border-radius: 6px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-shadow: none;
  text-align: center;
  border: 2px solid #000000;
  width: 175px;
  position: relative;
  z-index: 2;
}
}
.datefInput{
  border: 1px solid #bdbdbd;
  padding: 6px 10px;
  border-radius: 2px;
  background-color: #fff;
}
.clearFilterButton {
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #818181;
  border-radius: 6px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.field-width-height{
  width: 182px;
}
.auditFormsLbl-new{
  gap: 0px !important;
}
.findInput-width::placeholder{
  color: #495057;
  font-weight: 450;
  font-size: 14px;
}
.dummylable{
  opacity: 0;
 
}
.leftalignInput{
  margin-left: -8px;
}
.input-group-append{
 border: 1px solid #bdbdbd;
 padding-left: 10px;
 padding-right: 5px;
 color: #495057;
 width: 190px;
 border-top-right-radius: 2px;
 border-bottom-right-radius: 2px;
}
.input-group-append:focus-visible{
  outline: none;
}
.whitecolor{
  color: #fff !important;
  // pointer-events: none;
  
}
.relative{
  position: relative;
  .topunselectBox{
    position: absolute;
    top: 0px;
    left: 0px;
    // border: 1px solid red;
    width: 100%;
    height: 35px;
  }
}
.businessMail{
  color: red;
    font-size: 13px;
    padding-left: 59px;
    margin-top: -6px;
    font-weight: 600;
}
.hideexport{
  opacity: 0.5;
  pointer-events: none;
}
.multselecticonnew{
  margin-top: -13px;
  background-color: white !important;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A%23424242%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A) !important;
  background-position: right 12px center !important;
  background-repeat: no-repeat !important;
  background-size: auto 38% !important;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  padding: 8px 22px 8px 10px !important;
  //border-radius:2px;
  // border:none;
  //color: #ffffff;
  // disable default appearance
  // outline: none;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  display: flex;
  align-items: center;
  height: 35px !important;
  margin-left: -1px;
  width: calc(100% + 2px);
  &::-ms-expand {
    display: none;
  }
}
.mat-labul{
  font-family: "Inter";
  font-size: 14px;
  color: #495057;
}