$white:#FFFFFF;
$left-menu-width: 170;
$navbar-height: 60;
$footer-height: 60;
$app-scroll-width: 8;
$app-scroll-height: 8;
$app-primary-color: #1f96f4;
$app-gray-color: #f2f2f2;
$app-black-color: #000000;
$color-red: #e20512;
$color-black: #333333;
$login-blue-color : #0066c4;
$white:#ffffff;
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-600: 600;
$row-padding:25px;

// $app-primary-color: #1f96f4;
// $app-gray-color: #f2f2f2;
// $app-black-color: #000000;
// $color-red: #e20512;
// $color-black: #333333;
// $login-blue-color : #0066c4;
// $white:#ffffff;
// $font-weight-500: 500;
// $font-weight-400: 400;
// $font-weight-600: 600;
