						
					<form  class="example-form">	
                      <div class="personal-info-title legalInfoTitle">Legal Info</div>
						<div class="d-flex productDetail insuranceDetail">
						
							<div class="d-flex" *ngIf="insuranceVerificationData.formFieldAccess.deletionDate.view">
								<label class="label-name">Deletion date:</label>
								<div class="data-view d-flex dataiconrel align-items-center">
									{{(insuranceVerificationData.showData
.deleteDate!='' && insuranceVerificationData.showData
.deleteDate!=null)?(insuranceVerificationData.showData
.deleteDate | date:'dd-MM-yyyy'):' - '}}

								</div>
							</div>
						</div>

						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.initials.view">
							<div class="d-flex">
								<label class="label-name">Initials:</label>
								<div class="data-view d-flex dataiconrel  align-items-center">
									{{(insuranceVerificationData.showData
									.initials!='-' && insuranceVerificationData.showData
.initials!=null)?insuranceVerificationData.showData
.initials:' - '}}
								</div>
							</div>
						</div>
						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.incidentCode.view">
							<div class="d-flex">
								<label class="label-name">Incident code:</label>
								<div class="data-view d-flex  align-items-center">
					                {{(selectedIncidentCode!='' && selectedIncidentCode!=null)?selectedIncidentCode:' - '}}
								</div>
							</div>
						</div>
						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.severity.view">
							<div class="d-flex">
								<label class="label-name">Injury severity:</label>
								<div class="data-view d-flex  align-items-center">

									{{(insuranceVerificationData.showData
.severityInfo!=null && insuranceVerificationData.showData
.severityInfo!='')?insuranceVerificationData.showData
.severityInfo.severity:' - '}}
								</div>
							</div>
						</div>
						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.preventability.view">
							<div class="d-flex">
								<label class="label-name">Preventability:</label>
								<div class="data-view d-flex  align-items-center">

									{{(insuranceVerificationData.showData
.preventabilityInfo!=null && insuranceVerificationData.showData
.preventabilityInfo!='')?insuranceVerificationData.showData
.preventabilityInfo.description:' - '}}
								</div>
							</div>
						</div>

						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.claimDate.view">
							<div class="d-flex">
								<label class="label-name">Date of claim:</label>
								<div class="data-view d-flex dataiconrel  align-items-center">
									{{(insuranceVerificationData.showData
.claimDate!='' && insuranceVerificationData.showData
.claimDate!=null)?(insuranceVerificationData.showData
.claimDate | date:'dd-MM-yyyy'):' - '}}
								</div>
							</div>
						</div>
						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.legalStatus.view">
							<div class="d-flex">
								<label class="label-name">Legal status:</label>
								<div class="data-view d-flex  align-items-center ">

									{{(insuranceVerificationData.showData
.legalStatusInfo!=null && insuranceVerificationData.showData
.legalStatusInfo!='')?insuranceVerificationData.showData
.legalStatusInfo.statusDescription:' - '}}
								</div>
							</div>
						</div>
						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.claimReference.view">
							<div class="d-flex">
								<label class="label-name">Claim reference:</label>
								<div class="data-view d-flex  align-items-center">

								{{(insuranceVerificationData.showData
.claimReference!='' && insuranceVerificationData.showData
.claimReference!='')?insuranceVerificationData.showData
.claimReference:' - '}}
								</div>
							</div>
						</div>
					
						<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.photoStatus.view">
							<div class="d-flex">
								<label class="label-name" [ngClass]="{'label-name-fitwidth' : loginEmployeeRoleCode == 'PC'}">Photo Status:</label>
								<div class="data-view d-flex  align-items-center">
									{{(insuranceVerificationData.showData
.photoStatusInfo!=null && insuranceVerificationData.showData
.photoStatusInfo!='')?insuranceVerificationData.showData.photoStatusInfo
.statusDescription:' - '}}
								</div>
							</div>
							</div>
								<div class="d-flex productDetail insuranceDetail" *ngIf="insuranceVerificationData.formFieldAccess.cctvStatus.view">
									<div class="d-flex">
								<label class="label-name" [ngClass]="{'label-name-fitwidth' : loginEmployeeRoleCode == 'PC'}">CCTV status:</label>
								<div class="data-view  d-flex  align-items-center">
									{{(insuranceVerificationData.showData
.cctvStatusInfo!=null && insuranceVerificationData.showData
.cctvStatusInfo!='')?insuranceVerificationData.showData.cctvStatusInfo
.footageDescription:' - '}}
								</div>
							</div>
								</div>
								
								
							
					
</form>