.insuranceSave-btn{
width:68px;
height:40px;
border-radius:6px;
padding:10px, 15px, 11px, 15px;
}

form {
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    background: #ffffff;
    /* Gray 600 */

    border: 1px solid #818181 ;
    border-radius: 2px;
    color: #000000;
  }
  input[type="checkbox"] {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #818181;
    vertical-align: middle;
  }
  .dropdown-squere {
    position: absolute;
    width: 8px;
    height: 5px;
    right: 4px;
    top: calc(50% - 5px / 2 + 0.5px);

    /* black */

    background: #000000;
  }
  .next-btn-disable {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* Gray 600 */

    color: #818181;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding: 10px 15px 11px;*/
    gap: 8px;

    width: 86px;
    height: 40px;

    /* Gray 200 */

    background: #e6e6e6;
    border-radius: 6px;
    border-color: #e6e6e6;
  }

  .edit-personal-info {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
    color: #1f96f4;
  }
  .text-approximate {
    white-space: nowrap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-top: 3px;
    padding-left: 6px;
    color: #373737;
  }
  .submit-btn-enable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 11px;
    gap: 8px;
    height: 40px;
    width: 204px;

    /* Smyths Blue */

    background: #1f96f4;
    border-radius: 6px;
    border-color: #1f96f4;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }

  .draft-btn-enable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 11px;
    gap: 8px;
    height: 40px;
    width: 204px;

    /* Smyths Blue */

    background: #000000;
    border-radius: 6px;
    border-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }

  .next-btn-black {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* white */

    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding: 10px 15px 11px;*/
    gap: 8px;

    width: 86px;
    height: 40px;

    /* Black */

    background: #000000;
    border-radius: 6px;
  }

  .next-btn-witness-add {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* white */

    color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding: 10px 15px 11px;*/
    gap: 8px;

    width: 150px;
    height: 40px;

    /* Black */

    background: #000000;
    border-radius: 6px;
  }

  .checkbox-middle {
    display: flex;
    align-items: flex-end;
  }
  .next-black-row {
    margin-left: 4px;
  }

  .mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 14px !important;
    width: 14px !important;
    /* overflow: hidden; */
    vertical-align: middle;
  }
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 14px !important;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }
  input[type="date"] {
    text-transform: uppercase;
  }
  .personal-info-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    // margin-top: 30px;
    margin-bottom: 20px;
}
.dateInput {
  width: 180px;
 .boxdate {border:1px solid #818181 !important; width: 180px;height:35px; border-radius: 2px;
    line-height: 1;
    font-size: 14px;}

}
.dataiconrel{
 position: relative;

 .data-icon{
      position: absolute;
     right: 29px;
    top: 10px;
    }

    .data-icon2{
      position: absolute;
      right: 31px;
      top: 6px
    }

}
.field-width-height{
	width:319px;
	height:35px;
}
.label-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  min-width: 134px;
  margin-bottom: 0px;
}
.label-name-fitwidth{
  min-width: 95px;
}
}
.insuranceDetail {
  margin-bottom: 10px;
}
.legalInfoTitle {
  margin: 10px 0px 10px !important;
}
textarea{
  resize: none;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}